<div class="wrapper" ng-controller="homeController">
    <div class="grid-form1">
					<h3>Administrators Management</h3>
          <input class="input-search pull-right" placeholder="Search" type="text" class="form-control" name="password" ng-model="data.search">
          <div class="clearfix">
          </div>
          <a ui-sref="addadmin" class="btn btn-primary btn-xs"> Add new</a>
          <table class="table">
              <thead>
                <tr>
                  <th>
                    Id
                    <input type="text" class="form-control" name="password" ng-model="data.password">
                  </th>
                  <th>Email
                    <input type="text" class="form-control" name="password" ng-model="data.password">
                  </th>
                  <th>Name
                      <input type="text" class="form-control" name="password" ng-model="data.password">
                  </th>
                  <th>Permission
                    <input type="text" class="form-control" name="password" ng-model="data.password">
                  </th>
                  <th>Accepting Host
                    <input type="text" class="form-control" name="password" ng-model="data.password">
                  </th>
                  <th>Enabled
                    <input type="checkbox" class="form-control" name="password" ng-model="data.password">
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in list">
                  <td>[[ x.AdministratorId ]]</td>
                  <td>[[ x.email ]]</td>
                  <td>[[ x.name ]]</td>
                  <td>[[ x.permission ]]</td>
                  <td>[[ x.accepting_host_id ]]</td>
                  <td>[[ x.enabled ]]</td>
                  <td>
                      <a ui-sref="editadmin({id: [[x.AdministratorId]] })" class="btn btn-primary btn-xs" data-title="Edit" ><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                      <a ng-click="deleteRemind(x)" class="btn btn-danger btn-xs" data-title="Delete" ><span class="glyphicon glyphicon-trash"></span> Delete</a>
                      <a ui-sref="detailadmin({id: [[x.AdministratorId]] })" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-info-sign"></span> Detail</a>
                  </td>
                </tr>
              </tbody>
            </table>
			</div>
</div>
