<nav-bar></nav-bar>
<div class="wrapper">
      <div class="grid-form1">
					<h3 id="forms-example" class="">Add New</h3>
          <form name="aclForm" ng-submit="submitForm(aclForm.$valid)" novalidate>
            <div class="form-group">
              <label for="email">Application:</label>

              <ui-select ng-model="vm.selectionModel" >
                <ui-select-match placeholder="Select a ...">[[$select.selected.description]]</ui-select-match>
                <ui-select-choices refresh="searchAcl($select.search)" spinner-enabled="true" refresh-delay="500" repeat="item as item in searchRes | filter: $select.search" >
                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>

              <p ng-show="vm.selectionModel.$invalid" class="help-block">Your name is required.</p>
            </div>
            <div class="form-group">
              <label for="pwd">User:</label>
              <input type="text" class="form-control" name="email" ng-model="data.email" placeholder="Email" required>
              <p ng-show="data.email.$invalid && !data.email.$pristine" class="help-block">Your email is required.</p>
            </div>
            <div class="form-group">
              <label for="pwd">Group:</label>
              <input type="text" class="form-control" name="password" ng-model="data.password" placeholder="Password" required>
              <p ng-show="data.password.$invalid && !data.password.$pristine" class="help-block">Your password is required.</p>
            </div>
            <div class="form-group">
              <label for="pwd">User Tags:</label>
              <textarea class="form-control" name="description" rows="5" ng-model="data.description" id="description" placeholder="Description" ></textarea>
              <p ng-show="data.description.$invalid && !data.description.$pristine" class="help-block">Your Description is required.</p>
            </div>
            <div class="form-group">
              <label for="pwd">Device Tags:</label>
              <textarea class="form-control" name="description" rows="5" ng-model="data.description" id="description" placeholder="Description" ></textarea>
              <p ng-show="data.description.$invalid && !data.description.$pristine" class="help-block">Your Description is required.</p>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" ng-model="data.enabled" name="enabled"> Enabled</label>
            </div>
            <div class="form-group">
              <label for="sel1">ACL Type:</label>
              <select class="form-control" ng-model="data.access_rule_type" >
                <option style="display:none" value="">Select</option>
                <option ng-repeat="item in accessRuleType" value="[[item.value]]" ng-selected="[[item.value == per_page]]" >[[item.displayName]]</option>
              </select>
            </div>
            <div class="form-group">
              <label for="pwd">Description:</label>
              <textarea class="form-control" name="description" rows="5" ng-model="data.description" id="description" placeholder="Description" ></textarea>
              <p ng-show="data.description.$invalid && !data.description.$pristine" class="help-block">Your Description is required.</p>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
			</div>
</div>
