<nav-bar></nav-bar>
<div class="wrapper">
    <div class="grid-form1">
					<h3>ACL Management</h3>
          <div class="">
            <div class="pull-left">
              <select class="form-control" ng-model="perpage" ng-change="changePerpage(perpage)">
                <option value='10'>Show 10</option>
                <option value='20'>Show 20</option>
                <option value='50'>Show 50</option>
                <option value='100'>Show 100</option>
              </select>
            </div>
            <div class="pull-right">
              <a ui-sref="addadmin" class="btn btn-primary btn-xs " style="margin-right: 15px;" > Add new</a>
              <input class="input-search " placeholder="Search" type="text" class="form-control" name="password" ng-model="data.search">
            </div>
          </div>
          <div class="clearfix"></div>
          <table class="table">
              <thead>
                <tr>
                  <th>
                    Id
                  </th>
                  <th>application_id
                  </th>
                  <th>user_id
                  </th>
                  <th>device_id
                  </th>
                  <th>group_id
                  </th>
                  <th>access_rule_type
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in list">
                  <td>[[ x.AccessruleId ]]</td>
                  <td>[[ x.application_id ]]</td>
                  <td>[[ x.user_id ]]</td>
                  <td>[[ x.device_id ]]</td>
                  <td>[[ x.group_id ]]</td>
                  <td>[[ x.access_rule_type ]]</td>
                  <td>
                      <a ui-sref="editadmin({id: [[x.AccessruleId]] })" class="btn btn-primary btn-xs" data-title="Edit" ><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                      <a ng-click="deleteRemind(x)" class="btn btn-danger btn-xs" data-title="Delete" ><span class="glyphicon glyphicon-trash"></span> Delete</a>
                      <a ui-sref="detailadmin({id: [[x.AccessruleId]] })" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-info-sign"></span> Detail</a>
                  </td>
                </tr>
              </tbody>
            </table>
             <ul uib-pagination total-items="total" ng-model="currentPage" max-size="total" class="pagination-sm" boundary-links="true" force-ellipses="true"></ul>
            <!-- <uib-pagination total-items="total" ng-model="currentPage" items-per-page="per_page"></uib-pagination> -->
			</div>
</div>
