<footer class="footer navbar-fixed-bottom">
     2017 ANM. All Rights Reserved</a>
</footer>
<!-- js -->
<script type="text/javascript" src="/static/js/angular.min.js"></script>
<script type="text/javascript" src="/static/js/angular-ui-router.min.js"></script>
<script type="text/javascript" src="/static/js/angular-jwt.min.js"></script>
<script type="text/javascript" src="/static/js/loading-bar.js"></script>
<!-- for ui pagination -->
<script type="text/javascript" src="/static/js/ui-bootstrap.js"></script>
<script type="text/javascript" src="/static/js/ui-bootstrap-tpls.js"></script>
<!-- -->
<script type="text/javascript" src="/static/js/ngStorage.min.js"></script>
<script type="text/javascript" src="/static/js/toaster.min.js"></script>
<!-- for select 2 -->
<script type="text/javascript" src="/static/js/select.min.js"></script>
<script type="text/javascript" src="/static/js/angular-sanitize.min.js"></script>
<!--  -->
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<!-- for config -->
<script type="text/javascript" src="/static/js/angular_config.js"></script>
<script type="text/javascript" src="/static/js/pages/page_router.js"></script>
<!-- Home Ctrl -->
<script type="text/javascript" src="/templates/admin/home.js"></script>
<script type="text/javascript" src="/templates/accessrule/accessrule.js"></script>
<script type="text/javascript" src="/templates/acceptinghost/acceptinghost.js"></script>
<script type="text/javascript" src="/static/js/pages/login.js"></script>
<!--  -->
