<footer class="footer navbar-fixed-bottom">
     2017 ANM. All Rights Reserved</a>
</footer>
<!-- js -->
<script type="text/javascript" src="/static/js/angular.min.js"></script>
<script type="text/javascript" src="/static/js/angular-ui-router.min.js"></script>
<script type="text/javascript" src="/static/js/angular-jwt.min.js"></script>
<script type="text/javascript" src="/static/js/loading-bar.js"></script>
<script type="text/javascript" src="/static/js/ngStorage.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/static/js/angular_config.js"></script>
<!-- Home Ctrl -->
<script type="text/javascript" src="/static/js/pages/home.js"></script>
<script type="text/javascript" src="/static/js/pages/addnew.js"></script>
<script type="text/javascript" src="/static/js/pages/detail.js"></script>
<script type="text/javascript" src="/static/js/pages/login.js"></script>
<!--  -->
