<link href="/static/css/style_login.css" rel='stylesheet' type='text/css' />
<div class="login"  ng-controller = "loginController">
		<h1><a href="#">SDP </a></h1>
		<div class="login-bottom">
			<h2>Login</h2>
			<form name="loginForm" ng-submit="submitForm(loginForm.$valid)" novalidate>
				<div class="col-md-12">
					<div class="login-mail">
            <input type="text" name="username" ng-model="data.user_name" class="loginbutton" placeholder="Username" required/>
					</div>
					<div class="login-mail">
              <input type="password" name="password" ng-model="data.password" class="loginbutton" placeholder="Password" required/>
					</div>
					<label class="hvr-shutter-in-horizontal login-sub login-do">
						  <input type="submit" value="login" >
					</label>
				</div>
				<div class="clearfix"> </div>
			</form>
		</div>
</div>
