<nav-bar></nav-bar>
<div class="wrapper">
      <div class="grid-form1">
					<h3 id="forms-example" class="">Form Add Application</h3>
          <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
            <div class="form-group">
              <label for="email">Name:</label>
              <input type="text" class="form-control" name="name" ng-model="data.name" placeholder="Name" required>
              <p ng-show="data.name.$invalid && !data.name.$pristine" class="help-block">Your name is required.</p>
            </div>
            
            <div class="form-group">
              <label for="pwd">Description:</label>
              <textarea class="form-control" name="description" rows="5" ng-model="data.description" id="description" placeholder="Description" ></textarea>
              <p ng-show="data.description.$invalid && !data.description.$pristine" class="help-block">Your Description is required.</p>
            </div>

            <div class="checkbox">
              <label><input type="checkbox" ng-model="data.enabled" name="enabled"> Enabled</label>
            </div>
            <div class="form-group">
              <label for="sel1">Type:</label>
              <select class="form-control" ng-model="data.permission">
                   <option  ng-repeat="item in applicationType" ng-value="item.value">[[item.displayName]]</option>
              </select>
            </div>

            <div class="form-group">
              <label for="email">Accepting Host: [[data.accepting_hosts_name]]</label>
              <div class="search-in-db">
                <ui-select ng-model="vm.searchResAcceptinghost"  on-select="selectedFunction($item,'accepting_hosts')">
                  <ui-select-match allow-clear="true" placeholder="Type and search...">[[$select.selected.name]]</ui-select-match>
                  <ui-select-choices  refresh="searchForApp($select.search,'accepting_hosts')" spinner-enabled="true" refresh-delay="500" repeat="item as item in searchResAcceptinghost | filter: $select.search" >
                      <div ng-bind-html="item.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <div class="form-group">
              <label for="pwd">IP:</label>
              <input type="text" class="form-control" name="ip" ng-model="data.ip" placeholder="ip" required>
              <p ng-show="data.ip.$invalid && !data.ip.$pristine" class="help-block">Your Description is required.</p>
            </div>
            
            <div class="form-group">
              <label for="pwd">Port:</label>
              <input type="text" class="form-control" name="port" ng-model="data.port" placeholder="Port" required>
              <p ng-show="data.ip.$invalid && !data.ip.$pristine" class="help-block">Your Description is required.</p>
            </div>
            
            <div class="form-group">
              <label for="pwd">Host name:</label>
              <input type="text" class="form-control" name="host_name" ng-model="data.host_name" placeholder="Host Name" required>
              <p ng-show="data.host_name.$invalid && !data.host_name.$pristine" class="help-block">Your Description is required.</p>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
          </form>
			</div>
</div>
