<nav-bar></nav-bar>
<div class="wrapper">
  <div class="grid-form1">
    <h3>Applications Management</h3>
    <div class="">
      <div class="pull-left">
        <div class="">
          <select class="" ng-model="perpage" ng-change="changePerpage(perpage)">
                      <option style="display:none" value="">Select</option>
                      <option ng-repeat="item in itemPerPage" value="[[item.value]]" ng-selected="[[item.value == per_page]]" >[[item.displayName]]</option>
                    </select>
          <span>/ [[bigTotalItems]] result</span>
        </div>
      </div>
      <div class="pull-right">
        <div class="search-box">
          <input type="text" ng-model="search.searchAll" placeholder="Type something.." typeahead-on-select="onSelectSearchBox($item, $model, $label);"
            typeahead-wait-ms="1500" uib-typeahead="data.name for data in onSelectSearchBox($item, $model, $label)" typeahead-is-open="false"
            typeahead-min-length="2" ng-change=" (search.searchAll=='')?onSelectSearchBox($item, $model, $label):'' " typeahead-loading="loadingSearch"
            typeahead-editable="true" typeahead-no-results="noResults" class="form-control">

          <i ng-show="loadingSearch" class="glyphicon glyphicon-refresh"></i>
          <div ng-show="noResults">
            <i class="glyphicon glyphicon-remove"></i> No Results Found
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    
    <a ui-sref="addapplications" class="btn btn-primary btn-xs"> Add new</a>
    <table class="table">
      <thead>
        <tr>
          <th>Id <br>
            <input type="text" ng-model="search.id_search" ng-model-options="{debounce: 800}" ng-change="onSearchBelowBox()" class="input_filter_id">
          </th>
          <th>Name
            <br>
            <input type="text" ng-model="search.name_search" ng-model-options="{debounce: 800}" ng-change="onSearchBelowBox()">
          </th>
          <th>Type<br>
            <select ng-model="search.type_search" ng-model-options="{debounce: 800}" ng-change="onSearchBelowBox()" class="select_filter">
                  <option  value="">Select</option>
                  <option ng-repeat="item in applicationType" value="[[item.value]]"  >[[item.displayName]]</option>
                </select>
          </th>
          <th>Accepting Host<br>
            <input type="text" ng-model="search.accepting_host_name" ng-model-options="{debounce: 800}" ng-change="onSearchBelowBox()">
          </th>
          <th>Enabled
            <br>
            <input type="checkbox" disabled ng-model="search.enabled" ng-model-options="{debounce: 800}" ng-change="onSearchBelowBox()">
          </th>
          <th>IP
            <br>
            <input type="text" ng-model="search.ip_search" ng-model-options="{debounce: 800}" ng-change="onSearchBelowBox()">
          </th>
          <th>Port
            <br>
            <input type="text" ng-model="search.port_search" ng-model-options="{debounce: 800}" ng-change="onSearchBelowBox()">
          </th>
          <th>HostName
            <br>
            <input type="text" ng-model="search.hostname_search" ng-model-options="{debounce: 800}" ng-change="onSearchBelowBox()">
          </th>
          <th>Status<br>
              <select ng-model="search.status" ng-model-options="{debounce: 800}" ng-change="onSearchBelowBox()" class="select_filter">
                  <option  value="">Select</option>
                  <option ng-repeat="item in status" value="[[item.value]]"  >[[item.displayName]]</option>
              </select>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in list">
          <td>[[ x.ApplicationId ]]</td>
          <td>[[ x.name ]]</td>
          <td>[[ x.application_type ]] </td>
          <td>[[ x.AcceptingHost.name ]] </td>
          <td><input type="checkbox" name="access_rule_type" disabled ng-checked="x.enabled==1?true:false"></td>
          <td>[[ x.ip ]]</td>
          <td>[[ x.port ]]</td>
          <td>[[ x.host_name ]]</td>
          <td>online</td>
          <td>
            <a ui-sref="editapplications({id: [[x.ApplicationId]] })" class="btn btn-primary btn-xs" data-title="Edit"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
            <a ng-click="deleteRemind(x)" class="btn btn-danger btn-xs" data-title="Delete"><span class="glyphicon glyphicon-trash"></span> Delete</a>
            <a ui-sref="detailapplications({id: [[x.ApplicationId]] })" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-info-sign"></span> Detail</a>
          </td>
        </tr>
      </tbody>
    </table>
    <ul uib-pagination total-items="bigTotalItems" items-per-page="per_page" ng-change="pageChanged()" ng-model="currentPage"
      max-size="5" class="pagination-sm" boundary-links="true" rotate="false"></ul>
  </div>
</div>