/*.loginbutton {
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}*/



.footer {
  height: 30px;
  width: auto;
  text-align: center;
}


.mainHeader {
  background-color: #3f51b5;
  border-radius: 0px;
}

.navbar-brand {
  margin-left: 25px;
  font-size: 1.5em;
  color: white;
  max-width: 2000px;
}

.btn-action {
  background-color: #3f51b5;
}

#icons {
  text-align: right;
  float: right;
  height: 50%;
  line-height: 52px;
  float: right;
  margin-top: 10px;
}

nav .glyphicon {
  color: white;
}

nav .glyphicon:hover {
  color: black;
}

.sr-only {
  display: block;
  width: 20px;
  height: 3px;
  background-color: white;
  margin-bottom: 4px;
}

.hidden {
  display: none;
}


/*--------------------------------------
NotesFeed
-------------------------------------- */

.overdue {
  color: red;
  margin-top: 1px;
  font-size: 12px;
  padding-top: -100px;
  position: absolute;
  padding-left: 5px;
}

.noteHeading {
  font-weight: 900;
  font-size: 17px;
  color: #666666;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

hr {
  margin: 0;
  padding: 0;
}


/*--------------------------------------
Navigation drawer
-------------------------------------- */

.list-group-item {
  border: none;
}

.sidebar-item h5 {
  margin-left: 15px;
  display: block;
}

.sidebar-item .glyphicon:hover {
  color: black;
}

.col-sm-2 a.list-group-item:hover,
a.list-group-item:focus {
  text-decoration: none;
  background-color: transparent;
}

.nav-item {
  padding-left: 10px;
}

.col-sm-2 {
  background-color: white;
}

.badge {
  background-color: #7D8EF0;
  margin-right: 10px;
  float: right;
}


/* --------------------------------------
Global Styles
-------------------------------------- */

body {
  width: 100%;
}

.main-content {
  color: black;
}

.highlight {
  background-color: #72CBFF;
}


/* --------------------------------------
Media Queries
-------------------------------------- */


/* Portrait & landscape phone */

@media (max-width: 480px) {
  /*body {
    margin-top: 105px;
  }*/

  textarea {
    resize: vertical;
    width:50%;
  }

  .timeline {
    overflow: hidden;
    width: 100%;
  }

  #icons {
    text-align: center;
    padding: 0;
    height: 50%;
    line-height: 52px;
    float: right;
    margin-top: 10px;
  }
  .mainHeader h3 {
    padding: 0px;
    text-align: center;
  }

  .btn-primary {
    width: auto;
  }

  .input {
    width:100px;
  }

  .floating-action-icon {
    position: fixed;
    bottom: 35px;
    right: 20px;
    z-index: 101;
    width: 50px;
    height: 50px;
    padding: 10px 10px;
    font-size: 24px;
    border-radius: 25px;
    text-align: center;
  }
  .modal-dialog {
    width: 240px;
  }
}


/* Landscape phone to portrait tablet */

@media (max-width: 768px) and (min-width:481px) {
  #icons {
    text-align: center;
    padding: 0;
    height: 50%;
    line-height: 52px;
    float: right;
    margin-top: 10px;
  }

  textarea {
    resize: vertical;
    width: 200px;
  }

  /*body {
    margin-top: 105px;
  }*/

  .timeline {
    overflow: hidden;
    width: 80%;
    padding-left: 40px;
  }
  .mainHeader h3 {
    padding: 0px;
    text-align: center;
  }
  .note-lg {
    height: 360px;
    /*change later*/
  }
  .modal-dialog {
    width: 250px;
  }
}


/* Large desktop */

@media (max-width: 1400px) and (min-width:769px) {
  .timeline {
    overflow: hidden;
    width: 55%;
    margin-left: 20%;
  }

  textarea {
      resize: vertical;
      width: 400px;
  }
}


/*--------------------------------------
Sidebar
-------------------------------------- */

.sidebar-toggle {
  left: 10px !important;
}

.sidebar-wrapper.sidebar-default.sidebar-open,
.sidebar-wrapper.sidebar-default.sidebar-dragging {
  width: 260px;
}


/*css hapt*/
.wrapper{
  padding: 10px;
  background: #F3F3F4;
}
.navbar {
    margin-bottom: 0px !important;
}
.grid-form1 {
	background: #fff;
    margin-bottom: 1em;
    padding: 1em;
     border: 1px solid #ebeff6;
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.wrapper .form-control {
    box-shadow: none;
    outline: none;
    border-radius: 0px;
    font-family: 'Muli-Regular';
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.wrapper .btn {
    border-radius: 0px;
    outline: none;
}
